body {
  margin: 0;
  padding: 0;
}

.studentlist--list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 256px);
  grid-auto-flow: row;
  grid-row-gap: 1rem;
}

.student-box {
  height: 300px;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  flex-basis: 25% 75%;
}

img {
    max-width: 100%;
    max-height: 100%;
}
